/*.......................*/
/*VARIABLES*/
/*.......................*/

:root{
--color- white:hsl (0,0%,100%);
--color-light-grey:hsl (212,45%,89%);
--color-blue: hsl(220, 15%, 55%);
--color-dark-blue:hsl(218,44%,22%);
}

/*.......................*/
/*FONTS*/
/*.......................*/

<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
</style>
